.elementor-15 .elementor-element.elementor-element-0877992 {
    border-style: solid;
    border-color: #DFDFDF;
}

.elementor-widget-image .widget-image-caption {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-15 .elementor-element.elementor-element-d3a1684:not(.elementor-motion-effects-element-type-background),
.elementor-15 .elementor-element.elementor-element-d3a1684>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #EEF2F5;
}

.elementor-15 .elementor-element.elementor-element-d3a1684 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-15 .elementor-element.elementor-element-d3a1684>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-15 .elementor-element.elementor-element-4079862:not(.elementor-motion-effects-element-type-background),
.elementor-15 .elementor-element.elementor-element-4079862>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #EEF2F5;
}

.elementor-15 .elementor-element.elementor-element-4079862 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-15 .elementor-element.elementor-element-4079862>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-15 .elementor-element.elementor-element-f096701:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-15 .elementor-element.elementor-element-f096701>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-15 .elementor-element.elementor-element-f096701>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-15 .elementor-element.elementor-element-f096701>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-15 .elementor-element.elementor-element-ede89a4 {
    --spacer-size: 1px;
}

.elementor-widget-heading .elementor-heading-title {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
    color: var( --e-global-color-primary);
}

.elementor-15 .elementor-element.elementor-element-edcb5a6 {
    text-align: center;
}

.elementor-15 .elementor-element.elementor-element-edcb5a6 .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #000000;
}

.elementor-15 .elementor-element.elementor-element-1da5ab2 {
    text-align: center;
}

.elementor-15 .elementor-element.elementor-element-1da5ab2 .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #535862;
}

.elementor-15 .elementor-element.elementor-element-a641114 {
    text-align: center;
}

.elementor-15 .elementor-element.elementor-element-a641114 .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #FF4359;
}

.elementor-15 .elementor-element.elementor-element-0e532fd {
    text-align: center;
}

.elementor-15 .elementor-element.elementor-element-0e532fd .elementor-heading-title {
    font-family: "Inter", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #777777;
}

.elementor-15 .elementor-element.elementor-element-1a72577 {
    --spacer-size: 41px;
}

@media(max-width:767px) {
    .elementor-15 .elementor-element.elementor-element-0877992 {
        border-width: 0px 0px 1px 0px;
    }
    .elementor-15 .elementor-element.elementor-element-add7788 img {
        width: 33%;
    }
    .elementor-15 .elementor-element.elementor-element-c22486f>.elementor-widget-container {
        margin: 10px 0px 0px 0px;
    }
    .elementor-15 .elementor-element.elementor-element-c22486f {
        text-align: center;
    }
    .elementor-15 .elementor-element.elementor-element-c22486f img {
        width: 90%;
    }
    .elementor-15 .elementor-element.elementor-element-f096701>.elementor-element-populated,
    .elementor-15 .elementor-element.elementor-element-f096701>.elementor-element-populated>.elementor-background-overlay,
    .elementor-15 .elementor-element.elementor-element-f096701>.elementor-background-slideshow {
        border-radius: 40px 40px 0px 0px;
    }
    .elementor-15 .elementor-element.elementor-element-f096701>.elementor-element-populated {
        margin: 20px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 10px 30px 0px 30px;
    }
    .elementor-15 .elementor-element.elementor-element-ede89a4 {
        --spacer-size: 1px;
    }
    .elementor-15 .elementor-element.elementor-element-edcb5a6>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-15 .elementor-element.elementor-element-edcb5a6 {
        text-align: left;
    }
    .elementor-15 .elementor-element.elementor-element-edcb5a6 .elementor-heading-title {
        line-height: 1.3em;
    }
    .elementor-15 .elementor-element.elementor-element-1da5ab2>.elementor-widget-container {
        margin: -10px 0px 0px 0px;
    }
    .elementor-15 .elementor-element.elementor-element-1da5ab2 {
        text-align: left;
    }
    .elementor-15 .elementor-element.elementor-element-1da5ab2 .elementor-heading-title {
        font-size: 14px;
        line-height: 1.3em;
    }
    .elementor-15 .elementor-element.elementor-element-a641114>.elementor-widget-container {
        margin: -10px 0px 0px 0px;
    }
    .elementor-15 .elementor-element.elementor-element-a641114 {
        text-align: left;
    }
    .elementor-15 .elementor-element.elementor-element-a641114 .elementor-heading-title {
        font-size: 14px;
        line-height: 1.3em;
    }
    .elementor-15 .elementor-element.elementor-element-8c26d08>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-15 .elementor-element.elementor-element-0e532fd>.elementor-widget-container {
        margin: -10px 0px 0px 0px;
    }
    .elementor-15 .elementor-element.elementor-element-0e532fd {
        text-align: center;
    }
    .elementor-15 .elementor-element.elementor-element-0e532fd .elementor-heading-title {
        font-size: 12px;
        line-height: 1.3em;
    }
    .elementor-15 .elementor-element.elementor-element-2727402>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-15 .elementor-element.elementor-element-48a326b>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-15 .elementor-element.elementor-element-3130551>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-15 .elementor-element.elementor-element-1a72577 {
        --spacer-size: 1px;
    }
}